/* line 3, ../sass/torch.scss */
.navbar {
  background-color: #0277bd;
  border-radius: 0px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
/* line 9, ../sass/torch.scss */
.navbar .navbar-header .navbar-brand {
  color: #ffffff;
}
/* line 16, ../sass/torch.scss */
.navbar .navbar-collapse .navbar-nav li a {
  color: #ffffff;
}
