{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
<div class="container">
    <br><br><br>
    <div class="row">
        <div class="col m4 offset-m4">
            <div class="card z-depth-3">
                <div class="card-content">
                    {% if messages %}
                        {% for message in messages %}
                        <script type="text/javascript">
                            Materialize.toast("{{ message }}", 10000, 'rounded amber black-text')
                        </script>
                        {% endfor %}
                    {% endif %}
                    <h5 class="center">Login to Torch</h5>
                    <form action="{% url 'account:login' %}" method="post">
                        {% csrf_token %} {% for field in form.visible_fields %}
                        <div class="input-field">
                            <label>{{ field.label }}</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-block green">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}